/* The version of Bourbon used in this Pen was 4.* */
@import "bourbon";
/* The version of Neat used in this Pen was 1.8.* */
@import "neat";
// Grays
$gray-darker: #222222;
$gray-dark: #333333;
$gray: #555555;
$gray-light: #999999;
$gray-lighter: #eeeeee;
// Brand Colors
$brand-primary: #00217B;
$brand-secondary: #ee7102;
$brand-success: #18bc9c;
$brand-warning: #f39c12;
$brand-danger: #e74c3c;
$brand-info: #009bff;
$text-color: $gray-dark;
$link-color: $brand-info;
$link-hover-color: darken($link-color, 15%);
$header-height:60px;
html,
body {
  height: 100%; // viewport height 
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  background: $gray;
  height: $header-height;
  padding: 12px 0;
  z-index: 999;
}

.site-title h1 {
  margin: 5px 0 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
}

#sideNav {
  width: 50px;
  height: calc(100% - 100px);
  top: $header-height;
  position: fixed;
  background: blue;
  //padding: 10px 0;
  overflow-y: auto;
  text-align: center;
  background: lighten($gray, 10%);
  border-right: 1px solid $gray;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid $gray;
    margin: 0;
  }
  a {
    font-size: 20px;
    padding: 10px;
    color: #fff;
    margin: 0;
    line-height: 1;
    display: block;
    padding: 10px 0;
    &:hover,
    &:active,
    &:visited {
      color:$link-color;
      background: rgba(#000, .2);
    }
  }
}

menu {
  width: 260px;
  position: fixed;
  padding:0;
  z-index: 10;
  height: calc(100% - 100px); // header + footer
  overflow-y: auto;
  background: lighten($brand-info, 10%);
  top: $header-height;
  left: 50px;
  margin: 0;
  overflow-y: auto; // scroll if need be
  ul {
    @include span-columns(12);
    clear: both;
    float: unset;
  }
  > div { 
    padding:10px;
  }
}

#filter_text {
  width: 100%;
  margin: 0;
}

menu .admin-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li { 
    &:first-child{ 
      border-top:1px solid darken($brand-info, 5%);
    }
  }
  li a {
    clear: both;
    display: block;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    background: lighten($brand-info, 5%);
    border-bottom: 1px solid darken($brand-info, 5%);
    span {
      padding: 0 10px 0 0;
    }
    &:hover,
    &:active {
      @include transition(all 0.2s ease-in-out);
      text-decoration: none;
      background: darken($brand-info,15%);
    }
  }
}

menu .user-profile {
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  float: left;
}

menu .profile-pic {
  @include span-columns(3);
  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}

menu .user-info {
  @include span-columns(9);
}

menu .profile-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  li {
    padding: 0;
    margin: 0;
    @include span-columns(3);
    @include omega(4n);
  }
  a {
    padding: 10px;
  }
  a:hover,
  a:active {
    color: $brand-secondary;
  }
}

menu .username {
  font-size: 12px;
  text-align: left;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 10px;
}

menu .filter-form {
  padding: 10px;
}

menu .nav {
  > li > a {
    position: relative;
    background: none;
    color: #fff;
    font-size: 12px;
    padding-right: 30px;
    border-bottom: 1px dotted darken($brand-primary, 10%);
    &:hover,
    &:active {
      background: none;
      color: $link-hover-color;
    }
    &:focus {
      background: $brand-primary;
      color: #fff;
    }
  }
  > li > a.currentHover {
    @include transition(all 0.2s ease-in-out);
    color: $link-hover-color;
    text-decoration: none;
    background: #eee;
  }
}

main {
  position: relative;
  width: calc(100% - (260px + 50px));
  min-height: 100%;
  height: auto !important;
  /* cross-browser */
  height: 100%;
  /* cross-browser */
  padding: 20px;
  margin-left: (260px + 50px);
  margin-top: $header-height;
  float: left;
  padding-bottom: $header-height;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N89+7dfwYoEBQUZGCECYA479+/hwjAOCCFjP////8PkoEBAEN7GFxWCVvmAAAAAElFTkSuQmCC) repeat;
}

main.no-sidebar {
  width: 100%;
  margin: 0;
}

section {
  @include span-columns(12);
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0px 0px 8px rgba(#666, .2);
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  background: $gray;
}